/*geral*/

html{
    font-family: 'Open sans', 'sans-serif';
    color: #373A3C;
}

a{
    transition: .5s;
}

/*sidebar*/

#sidebar {
    position: fixed;
    height: 100%;
    width: 300px;
    background-color: #006599;
    padding-top: 40px;
}

#sidebar h1{
    color: #FFF;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#sidebar a{
     color: #FFF;
     text-decoration: none;
     font-size: 16px;
}

#sidebar a:hover{
    color: #F4EF5E;
}

#sidebar li{
    padding: 20px;
}

.sidebar-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}

.logo-doceria{
    width: 60px;
    height: 60px;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* conteudo */

.content{
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
}

.content h1, .content h2{
    color: #006599;
    margin-bottom: 30px;
}

.content h1{
    font-size: 48px;
}

.content h2{
    font-size: 35px;
}

section {
    padding-left: 50px;
}

/*Bem vindo*/

#sessao-bemvindo{
    padding-left: 0;
}

.sesssao-bemvindo-content {
    padding-left: 50px;
}

#sessao-bemvindo .banner{
    height: 500px;
    background-image: url('../img/banner2.jpg');
    background-position: center;
    background-size: cover;
}